html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d0d0d;
  background: url("img/resources/background_1.png");
}

:root {
  --highlight: #fc3390;
  --dark: #0c0b0b;
}

/* General classes */

a {
  color: White;
  text-decoration: none;
}
.contents {
  width: 800px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 24px;
}

.flex-0 {
  flex: 0;
}
.flex-1 {
  flex: 1;
}

h2 {
  text-align: center;
}
h2 img {
  max-width: 90%;
}

section {
  margin-bottom: 3em;
}

.text {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

strong {
  color: var(--highlight);
  font-weight: bold;
}

.highlight {
  font-weight: bold;
}
.highlight-subtitle {
  color: var(--highlight);
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .desktop {
    display: none !important;
  }
}
@media (min-width: 601px) {
  .mobile {
    display: none !important;
  }
}

/* Header */

header {
  background-color: var(--dark);
  color: White;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  z-index: 2;
}

#header-background {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  height: 18px;
  background-image: url("img/resources/header_background.png");
  background-position: center bottom;
  background-repeat: repeat-x;
}

#header-contents {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#title {
  height: 32px;
  max-width: 346px;
  width: 50vw;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  #title {
    max-width: 80vw;
    width: 80vw;
  }
}
#title img {
  width: 100%;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  display: block;
  width: 28px;
  height: 28px;
  border: solid 2px White;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}
.social a:hover {
  background: var(--highlight);
}

.social a img {
  width: 18px;
  max-height: 20px;
}

/* Contents */

main {
  margin-top: 70px;
  position: relative;
  z-index: 1;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 0;
}

#video {
  height: 300px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-tear {
  background-color: #eee;
  color: var(--dark);
  position: relative;
  margin-bottom: 100px;
  padding: 30px 16px 0;
}
.white-tear::before,
.white-tear::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: repeat-x;
  width: 100%;
  left: 0;
}

.white-tear::before {
  background-image: url("img/resources/white-top.png");
  top: -65px;
  background-position: bottom left;
  height: 66px;
}
.white-tear::after {
  background-image: url("img/resources/white-bottom.png");
  bottom: -77px;
  background-position: top left;
  height: 78px;
}

#orgs {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  margin-bottom: 100px;
}

.org {
  display: inline-block;
  padding-top: 100%;
  background-size: cover;
  background-position: center top;
  box-shadow: 1px 1px 4px rgba(0, 0, 0);
  transition: transform 200ms ease-out;
  text-align: center;
  position: relative;
  background-color: White;
}

.org:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 3;
  outline: solid 1px var(--highlight);
}

.org:hover .org-name {
  display: flex;
}

.org:not([data-denounced]) {
  filter: grayscale();
}

.org-name {
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: none;
  font-size: 11px;
  background: var(--highlight);
  padding: 4px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.org:not([data-denounced]) .org-name {
  background: var(--dark);
}

#countdown {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

#countdown-numbers {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  gap: 1em;
  margin-right: 3em;
}

#countdown-section {
  margin: 4em 0 6em;
  padding: 1em;
}

#countdown .countdown-number {
  flex-direction: column;
  text-align: center;
}

@media (max-width: 600px) {
  #countdown {
    display: block;
  }
  #countdown-numbers {
    margin-right: 0;
    gap: 0.4em;
    margin-bottom: 2em;
  }

  #countdown .countdown-number-value {
    font-size: 48pt;
  }

  #countdown .countdown-number-label {
    font-size: 12pt;
  }

  #sign-now {
    margin-top: 2em;
  }
}
.countdown-number-value {
  font-weight: 700;
  font-size: 48pt;
  background: linear-gradient(#3a3838, #3a3838 50%, #111);
  max-width: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  position: relative;
  border-radius: 2px;
  padding: 5px 8px;
  overflow: hidden;
}

.countdown-number-value::after {
  content: "";
  display: "block";
  position: absolute;
  pointer-events: none;
  top: 50%;
  height: 0;
  width: 100%;
  left: 0;
  border-top: solid 2px var(--dark);
  border-bottom: solid 1px #7f8082;
}

#countdown_seconds {
  color: var(--highlight);
}

.countdown-number-label {
  text-transform: uppercase;
  font-size: 14pt;
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

#sign-now {
  display: block;
  background: var(--highlight);
  border: none;
  height: 40px;
  border-radius: 20px;
  padding: 0 24px;
  display: inline-flex;
  align-items: center;
  margin-top: 0.5em;
  justify-content: center;
}

#sign-now:hover {
  background: var(--dark);
}

@media (max-width: 600px) {
  #sign-now {
    display: flex !important;
    margin-top: 1em;
  }
}

#download-posters {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#download-posters a {
  display: block;
  margin: 1em;
  text-decoration: none;
  text-align: center;
}
#download-posters h4 {
  color: White;
  display: block;
  margin: 0;
}

#download-posters a img {
  border: solid 1px transparent;
}
#download-posters a:hover h4 {
  color: var(--highlight);
}
#download-posters a:hover img {
  border-color: var(--highlight);
}

.download-icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;

  background-image: url("img/resources/download_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin-top: 1em;
  background-size: 50%;
  transition: transform 200ms ease-out;
  border: solid 2px White;
}

#download-posters a:hover .download-icon {
  transform: scale(1.2);
  background-color: var(--highlight);
}

#credits-layout {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  #credits-layout {
    display: block;
  }

  #credits {
    display: block !important;
  }

  #credits-layout-logo {
    margin-right: 0 !important;
  }
}

#credits-layout-logo {
  margin-right: 3em;
}
#credits {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  font-size: smaller;
}

.credits-section {
  margin-bottom: 2em;
}
.credits-section h4 {
  color: var(--highlight);
  font-weight: normal;
  margin-bottom: 0.5em;
}

.credits-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
